
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
  <meta charset="ISO-8859-1">
  <title>Music Generator</title>
</head>
<body bgcolor="#00FF7F">
<body>

<p align="center">Greets You Music Generator by Kordyukov</p>

<p th:text = "${onof}"></p>
<p><a href="http://localhost:8080/MusicGeneratorWeb/OnOff?on=Stop">Off Piano Solo</a></p>
<p><a href="http://localhost:8080/MusicGeneratorWeb/OnOff?on=Start">On Piano Solo</a></p>

<p>Garmonic is:</p>
<p th:text = "${ton}"></p>

<p><a href="http://localhost:8080/MusicGeneratorWeb/garmonic?ton=C">Music Generator Start, Garmonic is C</a></p>
<p><a href="http://localhost:8080/MusicGeneratorWeb/garmonic?ton=C_sharp">Music Generator Start, Garmonic is C#</a></p>
<p><a href="http://localhost:8080/MusicGeneratorWeb/garmonic?ton=D">Music Generator Start, Garmonic is D</a></p>
<p><a href="http://localhost:8080/MusicGeneratorWeb/garmonic?ton=D_sharp">Music Generator Start, Garmonic is D#</a></p>
<p><a href="http://localhost:8080/MusicGeneratorWeb/garmonic?ton=E">Music Generator Start, Garmonic is E</a></p>
<p><a href="http://localhost:8080/MusicGeneratorWeb/garmonic?ton=F">Music Generator Start, Garmonic is F</a></p>
<p><a href="http://localhost:8080/MusicGeneratorWeb/garmonic?ton=F_sharp">Music Generator Start, Garmonic is F#</a></p>
<p><a href="http://localhost:8080/MusicGeneratorWeb/garmonic?ton=G">Music Generator Start, Garmonic is G</a></p>
<p><a href="http://localhost:8080/MusicGeneratorWeb/garmonic?ton=G_sharp">Music Generator Start, Garmonic is G#</a></p>
<p><a href="http://localhost:8080/MusicGeneratorWeb/garmonic?ton=A">Music Generator Start, Garmonic is A</a></p>
<p><a href="http://localhost:8080/MusicGeneratorWeb/garmonic?ton=A_sharp">Music Generator Start, Garmonic is A#</a></p>
<p><a href="http://localhost:8080/MusicGeneratorWeb/garmonic?ton=H">Music Generator Start, Garmonic is H</a></p>

<p><a href="http://localhost:8080/MusicGeneratorWeb/garmonic?ton=Cm">Music Generator Start, Garmonic is Cm</a></p>
<p><a href="http://localhost:8080/MusicGeneratorWeb/garmonic?ton=Cm_sharp">Music Generator Start, Garmonic is Cm#</a></p>
<p><a href="http://localhost:8080/MusicGeneratorWeb/garmonic?ton=Dm">Music Generator Start, Garmonic is Dm</a></p>
<p><a href="http://localhost:8080/MusicGeneratorWeb/garmonic?ton=Dm_sharp">Music Generator Start, Garmonic is Dm#</a></p>
<p><a href="http://localhost:8080/MusicGeneratorWeb/garmonic?ton=Em">Music Generator Start, Garmonic is Em</a></p>
<p><a href="http://localhost:8080/MusicGeneratorWeb/garmonic?ton=Fm">Music Generator Start, Garmonic is Fm</a></p>
<p><a href="http://localhost:8080/MusicGeneratorWeb/garmonic?ton=Fm_sharp">Music Generator Start, Garmonic is Fm#</a></p>
<p><a href="http://localhost:8080/MusicGeneratorWeb/garmonic?ton=Gm">Music Generator Start, Garmonic is Gm</a></p>
<p><a href="http://localhost:8080/MusicGeneratorWeb/garmonic?ton=Gm_sharp">Music Generator Start, Garmonic is Gm#</a></p>
<p><a href="http://localhost:8080/MusicGeneratorWeb/garmonic?ton=Am">Music Generator Start, Garmonic is Am</a></p>
<p><a href="http://localhost:8080/MusicGeneratorWeb/garmonic?ton=Am_sharp">Music Generator Start, Garmonic is Am#</a></p>
<p><a href="http://localhost:8080/MusicGeneratorWeb/garmonic?ton=Hm">Music Generator Start, Garmonic is Hm</a></p>

</body>

</html>